* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  font-family: sans-serif;
}

.header, .footer {
  background: rgba(105,68,19,0.8);
  color: white;
  text-align: center;
  padding: 10px;
}

#game {
  width: 1000px;
  height: 600px;
  margin: 40px auto;
  position: relative;
  background: url("assets/room1.jpg") center/contain no-repeat black;
  overflow: hidden;
}

/* ================= SPRITES ================= */

.sprite {
  position: absolute;
  width: 80px;
  height: 80px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: transform 0.4s;
}

.sprite.revealed {
  transform: scale(1.5);
  z-index: 5;
}

/* BEFORE */
.canvas { 
  background-image: url("assets/canvas.png"); 
  width: 60px;
  height: 60px;
}
.vase   { 
  background-image: url("assets/vase.png"); 
}
.frame  { 
  background-image: url("assets/frame.png");
  width: 65px;
  height: 65px;
}
.sheet  { 
  background-image: url("assets/rolled sheet.png"); 
  width: 55px;
  height: 55px;
}
.box    { 
  background-image: url("assets/box.png"); 
  width: 40px;
  height: 40px;
}

/* AFTER */
.canvas.revealed { 
  background-image: url("assets/redClue.png"); 
}
.vase.revealed   { 
  background-image: url("assets/paper Blue.png"); 
}
.frame.revealed  { 
  background-image: url("assets/paper yellow.png"); 
  /* width: 80px;
  height: 80px; */
}
.sheet.revealed  { 
  background-image: url("assets/color sheet.png"); 
  width: 100px;
  height: 100px;
}
.box.revealed    { 
  background-image: url("assets/key.png"); 
}

/* ================= CODE PANEL ================= */

.code-panel {
  position: fixed;
  inset: 0;
  background: url("assets/code panel.png") center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.hidden { display: none; }

.code-box {
  background: rgba(0,0,0,0.7);
  padding: 25px;
  border-radius: 10px;
  text-align: center;
}

.code-inputs {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 15px;
}

.code-inputs input {
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
}

.error-text {
  color: red;
  display: none;
}
